@model AddProjectForm

<div id="addProjectModal" class="modal-container">
    <div class="content-modal">

        <div class="header-modal">
            <h3>Add Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="AddProject" asp-controller="Projects">

            <div class="image-previewer square">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
                <i class="fa-solid fa-camera"></i>
            </div>



            <div class="forms-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>


            <!-- Dropdown för Clients -->
            <div class="forms-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <select asp-for="ClientName" class="form-select">
                    <option selected disabled hidden>---- Select a client ----</option>
                        @foreach (var client in Model.Clients)
                        {
                            <option value="@client.Id">@client.ClientName</option>

                        }
                        
                    </select>
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
            </div>

            @* wysiwyg *@

            <div class="forms-group wysiwyg-container">
                <label asp-for="Description"></label>
                <div class="wysiwyg">
                    <textarea class="wysiwyg-textarea" asp-for="Description"></textarea>
                    <div id="project-wysiwyg-editor" class="wysiwyg-editor"></div>
                    <div id="project-wysiwyg-toolbar" class="wysiwyg-toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-align" value=""></button>
                            <button class="ql-align" value="center"></button>
                            <button class="ql-align" value="right"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-list" value="ordered"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </div>
                </div>
            </div>
            
            @* Dates aside *@
            <div class="forms-horizontal-group">
                <div class="field-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
                <div class="field-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <!-- Dropdown för Members -->
            <div class="forms-group">
                <label asp-for="Members"></label>
                <div class="field-group">
                    <select multiple asp-for="Members" class="form-select">
                        <option selected disabled hidden>---- Select a status ----</option>
                        @foreach (var member in Model.MembersOnJob)
                        {
                            <option value="@member.Id">@member.FirstName</option>

                        }

                    </select>
                    <span asp-validation-for="Members" class="text-danger"></span>
                </div>
            </div>

            <!-- Dropdown för Status -->
            <div class="forms-group">
                <label asp-for="Status"></label>
                <div class="field-group">
                    <select asp-for="Status" class="form-select">
                        <option selected disabled hidden>---- Select a status ----</option>
                        @foreach (var status in Model.Statuses)
                        {
                            <option value="@status.Id">@status.StatusName</option>

                        }

                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="price"></label>
                <div class="field-group">
                    <input asp-for="price" />
                    <span asp-validation-for="price"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit">Create</button>
        </form>


    </div>
</div>

@* <script> *@
@*     document.addEventListener('DOMContentLoaded', function() { *@
@*       initWysiwyg( *@
@*         '#project-wysiwyg-editor', *@
@*         '#project-wysiwyg-toolbar', *@
@*         '#Description', *@
@*         '@Html.Raw(ViewBag.Description ?? "")' *@
@*       ) *@
@*     }) *@

@*     function initWysiwyg(wysiwygEditorId, wysiwygToolbarId, textareaId, content) { *@
@*       const textarea = document.querySelector(textareaId) *@

@*       const quill = new Quill(wysiwygEditorId, { *@
@*         modules: { *@
@*           syntax: true, *@
@*           toolbar: wysiwygToolbarId *@
@*         }, *@
@*         placeholder: 'Type something', *@
@*         theme: 'snow' *@
@*       }) *@

@*       if (content) *@
@*         quill.root.innerHTML = content; *@

@*       quill.on('text-change', () => { *@
@*         textarea.value = quill.root.innerHTML; *@
@*       }) *@
@*     } *@
@* </script> *@