@model Client

<table>
    <tbody>
        <tr>
            <td class="client-check"><input type="checkbox" /></td>
            <td class="client-info">
                <img class="client-image" src="~/images/Avatar.svg" alt="" />
                <div class="client-name">@Model.ClientName</div>
                <div class="client-email">@Model.Email</div>
            </td>
            <td class="client-location">@Model.Location</td>
            <td class="client-phone">@Model.PhoneNumber</td>
            <td class="client-date">@Model.CreatedDate</td>
            <td class="client-status">
                <div class="badge active">
                    active
                </div>
            </td>
            <td class="client-actions" onclick="toggleMenu('client-dropdown-@Model.Id')">
                <i class="fa-solid fa-ellipsis"></i>
                @await Html.PartialAsync("Partials/_EditOrDeleteClientPartial", Model)
            </td>
        </tr>
    </tbody>
</table>