@model EditProjectForm

@{
    var statuses = await statusService.GetStatusesAsync();

    var clients = await clientService.GetClientsAsync();

    var members = await memberService.GetAllMembers();
}

<div id="editProjectModal" class="modal-container">
    <div class="content-modal">

        <div class="header-modal">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditProject" asp-controller="Projects">

            <input asp-for="Id" readonly type="hidden" />

            <div class="image-previewer square">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
                <i class="fa-solid fa-camera"></i>
            </div>



            <div class="forms-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="ClientId"></label>
                <div class="field-group">
                    <select asp-for="ClientId" class="form-select">
                        <option selected disabled hidden>---- Select a client ----</option>
                        @foreach (var client in clients)
                        {
                            <option value="@client.Id">@client.ClientName</option>

                        }

                    </select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
            </div>

            <div class="forms-group edit-project">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            @* <div class="forms-group wysiwyg-container"> *@
            @*     <label asp-for="Description"></label> *@
            @*     <div class="wysiwyg"> *@
            @*         <textarea class="wysiwyg-textarea" asp-for="Description"></textarea> *@
            @*         <div id="project-wysiwyg-editor" class="wysiwyg-editor"></div> *@
            @*         <div id="project-wysiwyg-toolbar" class="wysiwyg-toolbar"> *@
            @*             <span class="ql-formats"> *@
            @*                 <button class="ql-bold"></button> *@
            @*                 <button class="ql-italic"></button> *@
            @*                 <button class="ql-underline"></button> *@
            @*             </span> *@
            @*             <span class="ql-formats"> *@
            @*                 <button class="ql-align" value=""></button> *@
            @*                 <button class="ql-align" value="center"></button> *@
            @*                 <button class="ql-align" value="right"></button> *@
            @*             </span> *@
            @*             <span class="ql-formats"> *@
            @*                 <button class="ql-list" value="bullet"></button> *@
            @*                 <button class="ql-list" value="ordered"></button> *@
            @*             </span> *@
            @*             <span class="ql-formats"> *@
            @*                 <button class="ql-link"></button> *@
            @*             </span> *@
            @*         </div> *@
            @*     </div> *@
            @* </div> *@

            <div class="forms-group">
                <label asp-for="StartDate"></label>
                <div class="field-group">
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="EndDate"></label>
                <div class="field-group">
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="Members"></label>
                <div class="field-group">
                    <select asp-for="Members" class="form-select">
                        <option selected disabled hidden>---- Select a member ----</option>
                        @foreach (var member in members)
                        {
                            <option value="@member.Id">@member.FirstName @member.LastName</option>

                        }

                    </select>
                    <span asp-validation-for="Members" class="text-danger"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="StatusId"></label>
                <div class="field-group">
                    <select asp-for="StatusId" class="form-select">
                        <option selected disabled hidden>---- Select a status ----</option>
                        @foreach (var status in statuses)
                        {
                            <option value="@status.Id">@status.StatusName</option>

                        }

                    </select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>

            <div class="forms-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit">Save</button>
        </form>


    </div>
</div>