@model Project


<div class="projects-list">
    <div class="project-card" data-status="@Model.Status.StatusName.ToUpper()">
        <div class="pc-top">
            <div class="logo-header">
                <img src="~/images/projectlogo.svg" alt="project logotype" />
                <div>
                    <h6>@Model.ProjectName</h6>
                    <span>@(Model.Client != null ? Model.Client.ClientName : "No Client...")</span>
                </div>
            </div>
            <div>
                <span class="project-actions" onclick="toggleMenu('Project-dropdown-@Model.Id')">
                    <i class="fa-solid fa-pen-to-square"></i>
                </span>
                @await Html.PartialAsync("Partials/_EditOrDeleteProjectPartial")
            </div>
        </div>

        <div>
            <span>@Model.Description</span>
        </div>

        <div class="pc-bottom">
            <span>
                <i class="fa-regular fa-clock"></i>
                <strong class="timeLeft">@Model.Status.StatusName</strong>
            </span>

            <div class="project-members">
                @foreach (var member in Model.ProjectMember.MemberName) 
                {
                 <img src="~/images/avatar3.svg" alt="member avatar" />
                
                 <span>@member</span>
                }
               
            </div>
        </div>
    </div>
</div>

